<head>
    <title>Samuel Fialho</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Samuel Fialho's portfolio page">
    <meta name="keywords" content="samuel,fialho,semisse,nazare,lisboa,lisbon,portugal,frontend,design,ui,ux">
    <meta name="author" content="Samuel Fialho">
    <meta property="og:title" content="Samuel Fialho" />
    <meta property="og:description"
        content="Welcome to my page. Here you can check of the projects I've been working on" />
    <meta property="og:url" content="https://samuelfialho.com" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{site.baseurl}}/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/hik5gdi.css">
</head>