<div class="topbar">
    <div class="logo">
        <a href="{{site.baseurl}}/">
            <img src="{{site.baseurl}}/assets/img/logo.svg" alt="samuel fialho signature">
        </a>
    </div>
    <div class="menu">
        <a class="burger" href="javascript:void(0)" aria-label="Open the menu" role="button">
            <span aria-hidden=true></span>
            <span aria-hidden=true></span>
        </a>
        <div class="navigation" role="navigation">
            <div class="wrapper">
                <div class="topbar">
                    <a class="close" href="javascript:void(0)" aria-label="Close the menu" role="button">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <nav>
                    <ul>
                        <li class="menu-item"><a href="{{site.baseurl}}/">Home</a></li>
                        <li class="menu-item"><a href="{{site.baseurl}}/projects">Projects</a></li>
                        <li class="menu-item"><a href="{{site.baseurl}}/about">About</a></li>
                        <li class="menu-item"><a href="{{site.baseurl}}/">Contacts</a></li>
                    </ul>
                </nav>
                <p><a href="mailto:samuel.fialho@gmail.com">samuel.fialho@gmail.com</a></p>
                <div class="social">
                    <span>
                        <a href="https://github.com/semisse" target="_blank" rel="noopener noreferrer">
                            <img src="{{site.baseurl}}/assets/img/github.svg" alt="github">
                        </a>
                    </span>
                    <span>
                        <a href="https://www.linkedin.com/in/samuelfialho/" target="_blank" rel="noopener noreferrer">
                            <img src="{{site.baseurl}}/assets/img/linkedin.svg" alt="linkedin">
                        </a>
                    </span>
                    <span>
                        <a href="https://www.instagram.com/semisse/" target="_blank" rel="noopener noreferrer">
                            <img src="{{site.baseurl}}/assets/img/instagram.svg" alt="instagram">
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>