:root {
    --black: #151515;
    --white: #F9F7E8;
    --purple: #39304A;
    --cream: #E1D89F;
    --salmon: #FB9F89;
    --nazare: #63C0AD;
    --base-unit: 8px;
    --font-default: freight-big-pro, serif;
    font-size: 1.2rem;
    letter-spacing: .02rem;
}

body {
    background: var(--black, black);
    font-family: var(--font-default, serif);
    color: var(--white, white);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-style: italic;
    color: var(--nazare);
    text-align: center;
}

h1 {
    font-weight: 300;
    font-size: 450%;
    font-style: italic;
    line-height: .8em;
    color: var(--nazare);
    text-align: center;
}

h2 {
    font-size: 300%;
    line-height: .9em;
    color: var(--cream);
}

h3 {
    font-size: 150%;
    color: var(--cream);
}

p {
    color: var(--black);
    letter-spacing: .02rem;
    line-height: 1.5rem;
}

a {
    color: var(--black);
    transition: filter .2s;
}

a:hover {
    filter: invert(0.5)
}

img {
    max-width: 100%;
    max-height: 100%;
}

section {
    margin: calc(var(--base-unit) * 15) 0;
    padding: 0 calc(var(--base-unit) * 2.5);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 calc(var(--base-unit) * 2);
    overflow-x: hidden;
}