:root {
    font-size: 1.2rem;
    letter-spacing: .02rem;
}

body {
    background: $black;
    font-family: $font-default;
    color: $white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-style: italic;
    color: $nazare;
    text-align: center;
}

h1 {
    font-weight: 300;
    font-size: 450%;
    font-style: italic;
    line-height: .8em;
    color: $nazare;
    text-align: center;
}

h2 {
    font-size: 300%;
    line-height: .9em;
    color: $cream;
}

h3 {
    font-size: 150%;
    color: $cream;
}

p {
    color: $black;
    letter-spacing: .02rem;
    line-height: 1.5rem;
}

a {
    color: $black;
    transition: filter .2s;
}

a:hover {
    filter: invert(0.5);
}

img {
    max-width: 100%;
    max-height: 100%;
}

section {
    margin-top: 50vh;
    padding: 0 calc(#{$base-unit} * 2.5);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 calc(#{$base-unit} * 2);
    overflow-x: hidden;
}

.banner {
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

input, textarea {
    width: 100%;
    box-shadow: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid $nazare;
    border-radius: #{$base-unit};
    color: $white;
    margin: 0 0 calc(#{$base-unit} * 4) 0;
    padding: #{$base-unit};
    box-sizing: border-box;
}

input:focus, textarea:focus {
    outline-color: $cream;
}

textarea {
    border-radius: #{$base-unit};
    min-height: calc(#{$base-unit} * 30);
}

button {
    font-size: .75rem;
    color: $nazare;
    margin: calc(#{$base-unit} / 2) 0;
    padding: #{$base-unit} calc(#{$base-unit} * 6);
    border: 1px solid $nazare;
    border-radius: calc(#{$base-unit} * 5);
    background: transparent;
    transition: all .2s ease-in;
    cursor: pointer;
}

button:hover {
    background-color: $nazare;
    color: $white;
}


@mixin bannerBackground($image, $imageRetina) {
    &:before {
        content: '';
        position: absolute;
        opacity: .5;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url($image);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        &:before {
            background-image: url($imageRetina);
        }
    }
}

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
    $responsive-unitless: $responsive / ($responsive - $responsive + 1);
    $dimension: if(unit($responsive) == 'vh', 'height', 'width');
    $min-breakpoint: $min / $responsive-unitless * 100;
    @media (max-#{$dimension}: #{$min-breakpoint}) {
      font-size: $min;
    }
    @if $max {
      $max-breakpoint: $max / $responsive-unitless * 100;
      @media (min-#{$dimension}: #{$max-breakpoint}) {
        font-size: $max;
      }
    }
    @if $fallback {
      font-size: $fallback;
    }
    font-size: $responsive;
}