.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.header h1 {
    flex-grow: 2;
    flex-basis: 0;
}

.header .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img {
    margin-top: calc(#{$base-unit} * (-5));
    flex-grow: 0;
    flex-basis: .2;
}

.header .card {
    margin-top: calc(#{$base-unit} * (-2));
}

/* Cards */

.card {
    background-color: $white;
    padding: calc(#{$base-unit} * 3);
    display: flex;
    align-items: center;
}

.card p {
    color: $black;
    margin: 0;
}

.card p:first-child::first-letter {
    font-size: 5.5em;
    color: $nazare;
    float: left;
    line-height: 60px;
    padding-top: 16px;
    padding-right: 8px;
}

@media (min-width: 40rem) {
    h1 {
        font-size: 400%;
    }
    .header .welcome {
        flex-direction: row;
    }
    .card {
        max-width: calc(#{$base-unit} * 50);
    }
}

@media (min-width: 44rem) {
    h1 {
        font-size: 700%;
    }
}

@media (min-width: 70rem) {
    h1 {
        font-size: 1000%;
    }
    .header img {
        margin-top: calc(#{$base-unit} * (-5));
    }
}