.projects .banner {
    @include bannerBackground('../assets/img/projects.jpg', '../assets/img/projects@2x.jpg');
}

.projects h2 {
    text-align: center;
    color: $cream;
}

.projects h3 {
    text-align: left;
    font-size: 150%;
    font-weight: 400;
    font-style: normal;
    line-height: 125%;
}

.projects > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.project {
    max-width: 100%;
    margin: calc(#{$base-unit} * 10) 0;
}

.project .image {
    text-align: center;
}

.project img {
    margin-bottom: calc(#{$base-unit} * 5);
}

.project p {
    color: $white;
}

.project .description ul {
    padding: 0
}

.project .description li {
    display: inline-block;
    font-size: .75rem;
    color: $salmon;
    margin: calc(#{$base-unit} / 2) 0;
    padding: #{$base-unit} calc(#{$base-unit} * 2);
    border: 1px solid $salmon;
    border-radius: calc(#{$base-unit} * 5);
}

@media (min-width: 40rem) {
    .project {
        display: flex;
    }
    .image, .description {
        flex: 50%
    }
    .description {
        padding-left: calc(#{$base-unit} * 5);
    }
}