---
layout: default
---
<section class="about">
    <div class="banner">
        <h1>About</h1>
    </div>

    <div class="two-column">
        <div class="experience">
            <h2>Experience</h2>
            <dl>
                <dt>January 2019 — Present</dt>
                <dd>Frontend Developer at Nuxeo</dd>

                <dt>January 2016 — December 2018</dt>
                <dd>Freelancing as designer and frontend developer</dd>

                <dt>May 2013 — December 2015</dt>
                <dd>Co-founded Digital Impulse, worked as Creative Director</dd>

                <dt>October 2009 — April 2013</dt>
                <dd>Freelancing as a frontend developer</dd>
            </dl>

            <h3>Education</h3>
            <dl>
                <dt>September 2019 — Present</dt>
                <dd>Post-Graduation in Digital Experience Design</dd>

                <dt>September 2019 — November 2019</dt>
                <dd>React Nano Degree (Udacity)</dd>

                <dt>January 2016</dt>
                <dd>Social Media Marketing Strategy (Edit)</dd>

                <dt>September 2004 — September 2019</dt>
                <dd>Graduation in Journalism (ESCS)</dd>
            </dl>
        </div>

        <div class="clients">
            <h2>Clients</h2>
            <ul>
                <li><img src="{{site.baseurl}}/assets/img/clients/standard-bank.svg" alt="standard bank logo"></li>
                <li><img src="{{site.baseurl}}/assets/img/clients/banco-atlantico.svg" alt="banco atlantico logo"></li>
                <li><img src="{{site.baseurl}}/assets/img/clients/cmnazare.svg" alt="câmara municipal da nazaré logo">
                </li>
                <li><img src="{{site.baseurl}}/assets/img/clients/paladin.svg" alt="paladin logo"></li>
            </ul>
        </div>
    </div>



</section>