---
layout: default
---

<section class="header" id="home" role="main">
    <div class="welcome">
        <h1>design & develop through stories</h1>
        <img src="{{site.baseurl}}/assets/img/sam.png"
            srcset="{{site.baseurl}}/assets/img/sam.png 1x, {{site.baseurl}}/assets/img/sam@2x.png 2x"
            alt="picture of samuel">
    </div>
    <div class="card">
        <p>Hello there! My name is Samuel Fialho and I’m a front-end developer based in Lisbon and working
            full
            time now at Nuxeo. I'm a self taught developer with a focus on design. I love the web and that's
            why
            I'm working on it for 10 years now. I love systems and I consider myself a communication
            thinker.
        </p>
    </div>
</section>