<div class="wrapper">
    <div class="topbar">
        <div class="logo">
            <a href="/">
                <img src="{{site.url}}/{{site.baseurl}}/assets/img/logo.svg" alt="samuel fialho signature">
            </a>
        </div>
        <div class="menu">
            <a class="burger" href="#" aria-label="Open the menu" role="button">
                <span aria-hidden=true></span>
                <span aria-hidden=true></span>
            </a>
            <div class="navigation" role="navigation">
                <div class="wrapper">
                    <div class="topbar">
                        <a class="close" href="#" aria-label="Close the menu" role="button">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <nav>
                        <ul>
                            <li class="menu-item"><a href="#">Home</a></li>
                            <li class="menu-item"><a href="#">Projects</a></li>
                            <li class="menu-item"><a href="#">About</a></li>
                        </ul>
                    </nav>
                    <p><a href="mailto:samuel.fialho@gmail.com">samuel.fialho@gmail.com</a></p>
                    <div class="social">
                        <span>
                            <a href="https://github.com/semisse" target="_blank" rel="noopener noreferrer">
                                <img src="{{site.url}}/{{site.baseurl}}/assets/img/github.svg" alt="github">
                            </a>
                        </span>
                        <span>
                            <a href="https://www.linkedin.com/in/samuelfialho/" target="_blank"
                                rel="noopener noreferrer">
                                <img src="{{site.url}}/{{site.baseurl}}/assets/img/linkedin.svg" alt="linkedin">
                            </a>
                        </span>
                        <span>
                            <a href="https://www.instagram.com/semisse/" target="_blank" rel="noopener noreferrer">
                                <img src="{{site.url}}/{{site.baseurl}}/assets/img/instagram.svg" alt="instagram">
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="header" id="home" role="main">
        <div class="welcome">
            <h1>design & develop through stories</h1>
            <img src="{{site.url}}/{{site.baseurl}}/assets/img/sam.png" srcset="{{site.url}}/{{site.baseurl}}/assets/img/sam.png 1x, {{site.url}}/{{site.baseurl}}/assets/img/sam@2x.png 2x" alt="picture of samuel">
        </div>
        <div class="card">
            <p>Hello there! My name is Samuel Fialho and I’m a front-end developer based in Lisbon and working
                full
                time now at Nuxeo. I'm a self taught developer with a focus on design. I love the web and that's
                why
                I'm working on it for 10 years now. I love systems and I consider myself a communication
                thinker.
            </p>
        </div>
    </section>