---
layout: default
---
<section class="projects">
    <div class="banner">
        <h1>Portfolio</h1>
    </div>
    <h2>List of curated projects</h2>
    <ul>
        {% for post in site.posts %}
          <li>
            <div class="project">
                <div class="image">
                    <img src="{{site.baseurl}}/{{post.image}}.png"
                        srcset="{{site.baseurl}}/{{post.image}}.png 1x, {{site.baseurl}}/{{post.image}}@2x.png 2x"
                        alt="{{post.alt}}"
                    >
                </div>
                <div class="description">
                    <h3>{{post.title}}</h3>
                    <p>{{post.content}}</p>
                    <ul aria-label="roles played during this project">
                        {% for role in post.roles %}
                            <li>{{ role }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
          </li>
        {% endfor %}
      </ul>
</section>
